name: Build and Deploy

on:
  push:
    branches:
      - develop
  pull_request:
    branches: [develop]
    types: [opened, synchronize]
  issue_comment:                                     
    types: [created]

permissions:
  contents: write

jobs:
  Build and Deploy Client:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install
        run: |
          npm ci

      - name: Linter
        run: |
          npm run lint

      - name: Unit Tests
        run: |
          npm test 
        env:
          CI: true

      - name: Build
        run: |
          npm run build --if-present

      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        uses: Flick-Picker/github-pages-deploy-action@v1
        with:
          folder: build