name: build-deploy-client
on:
  push:
    branches:
      - develop
    paths:
      - ./src/client
permissions:
  contents: write
jobs:
  deploy_client:
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: Flick-Picker/full-stack/.github/workflows/build.yml@v1
      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
