name: run-tests
on:
  issue_comment:                                     
    types: [created]
jobs: 
  run_tests:
    defaults:
      run:
        working-directory: ./src/client
    uses: Flick-Picker/full-stack/.github/workflows/build.yml@v1
    steps:
      - name: Comment trigger
        uses: khan/pull-request-comment-trigger@v1.1.0
        id: check
        with:
          trigger: 'run tests'
          reaction: eyes
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
