name: Run Tests
on:
  issue_comment:                                     
    types: [created]
jobs:
  comment_trigger:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./src/client 
    steps:
      - name: Comment trigger
        uses: khan/pull-request-comment-trigger@v1.1.0
        id: check
        with:
          trigger: 'run tests'
          reaction: eyes
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  run_tests:
    needs: comment_trigger
    uses: ./.github/workflows/build.yml
