name: Build and Deploy Client
on:
  push:
    branches:
      - develop
    paths:
      - ./src/client
permissions:
  contents: write
jobs:
  build_and_test:
    defaults:
      run:
        working-directory: ./src/client
    uses: ./.github/workflows/build.yml
  deploy_client:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ./src/client
    needs: build
    steps:
      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
